<hgroup>
    <h1>Files</h1>
    <p>Manage and share your files.</p>
</hgroup>

<article>
    <table class="striped">
        <thead>
            <tr>
                <th scope="col">Filename</th>
                <th scope="col">Size</th>
                <th scope="col">Modified</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>presentation.pdf</td>
                <td>2.4 MB</td>
                <td>Today</td>
                <td><a href="#">Download</a></td>
            </tr>
            <tr>
                <td>budget-2025.xlsx</td>
                <td>156 KB</td>
                <td>Yesterday</td>
                <td><a href="#">Download</a></td>
            </tr>
            <tr>
                <td>architecture-diagram.png</td>
                <td>3.2 MB</td>
                <td>2 days ago</td>
                <td><a href="#">Download</a></td>
            </tr>
            <tr>
                <td>meeting-notes.docx</td>
                <td>345 KB</td>
                <td>3 days ago</td>
                <td><a href="#">Download</a></td>
            </tr>
        </tbody>
    </table>
</article>
