apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: rclone-serve
spec:
  selector:
    matchLabels:
      app: serves3
  replicas: 1
  template:
    metadata:
      labels:
        app: serves3
    spec:
      containers:
      - name: rclone
        image: rclone/rclone:latest
        ports:
        - {containerPort: 8080, name: s3}
        volumeMounts:
        - {name: data, mountPath: /data}
        command: ["rclone", "serve", "s3", "/data", "--addr=0.0.0.0:8080"]
      volumes:
      - {name: data, emptyDir: {}}
---
apiVersion: v1
kind: Service
metadata:
  name: rclone-serve
spec:
  selector:
    app: serves3
  clusterIP: None
  ports:
  - {port: 8080, targetPort: 8080, name: s3}
---
apiVersion: v1
kind: Service
metadata:
  name: filebrowser
spec:
  selector:
    app: filebrowser
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: LoadBalancer
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: filebrowser
spec:
  replicas: 3
  selector:
    matchLabels:
      app: filebrowser
  template:
    metadata:
      labels:
        app: filebrowser
    spec:
      containers:
      - name: filebrowser
        image: filebrowser/filebrowser:latest
        ports:
        - containerPort: 80
        volumeMounts:
        - name: s3-data
          mountPath: /srv
      volumes:
        - name: s3-data
          csi:
            driver: rclone.csi.veloxpack.io
            volumeAttributes:
              remote: "s3local"
              remotePath: "mybucket"
              # VFS caching for better performance
              vfs-cache-mode: "full"
              vfs-cache-max-size: "10G"
              vfs-cache-max-age: "1s"
              dir-cache-time: "1s"
              # Mount options
              allow-other: "true"
            nodePublishSecretRef:
              name: rclone-s3local
---
# Secret containing Minio S3 credentials
apiVersion: v1
kind: Secret
metadata:
  name: rclone-s3local
type: Opaque
stringData:
  configData: |
    [s3local]
    type = s3
    provider = Rclone
    endpoint = http://rclone-serve.default:8080
    use_multipart_uploads = false