## File values.yaml ##
# Use a few replicas to enable rolling updates without outages
deployment:
  replicas: 3
providers:
  # Disable the Ingress provider, we do not want to use Ingress objects anymore!
  kubernetesIngress:
    enabled: false
  # Enable the GatewayAPI provider
  kubernetesGateway:
    enabled: true
# Allow the Gateway to expose HTTPRoute from all namespaces (still needs ReferenceGrants)
gateway:
  listeners:
    web:
      namespacePolicy: All