{{ define "main" -}}
    {{- $breakpoint := $.Scratch.Get "breakpoint" -}}
    {{- $padding := partial "utilities/GetPadding.html" -}}
    {{- $content := partial "utilities/ProcessContent" (dict "page" .Page "raw" .RawContent) }}
    {{- $sidebar := partial "page/sidebar" . -}}

    {{- partial "page/sidebar-offcanvas.html" (dict "section" "site" "raw" $sidebar) -}}

    <div class="container-xxl flex-fill py-{{ $padding.y }} px-{{ $padding.x }} px-xxl-0">
        <div class="row row-cols-1 row-cols-{{ $breakpoint.current }}-2 row-cols-{{ $breakpoint.next }}-3">
            <div class="col col-{{ $breakpoint.next }}-2 d-none d-{{ $breakpoint.next }}-block sidebar-overflow sticky-top p-0">
                {{ $sidebar | safeHTML }}
            </div>
            <div class="col-12 col-{{ $breakpoint.current }}-9 col-{{ $breakpoint.next }}-8 mb-5">
                {{ if .Params.content_blocks }}
                    {{- $.Scratch.Set "blocks_embed" true -}}
                    {{- partial "page/blocks.html" . -}}
                {{ else }}
                    {{ with partial "page/articles.html" . }}{{ . | safeHTML }}{{ end }}
                {{ end }}
                {{ with $content }}{{ . }}{{ end }}
            </div>
            <div class="col col-{{ $breakpoint.current }}-3 col-{{ $breakpoint.next }}-2 d-none d-{{ $breakpoint.current }}-block">
                {{ .Render "toc" }}
            </div>
        </div>
    </div>
{{ end -}}
